---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import Dataset from "./icons/Dataset.astro"
import LinkButton from "./LinkButton.astro"
import MySQL from "./icons/MySQL.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import Python from "./icons/Python.astro"
import Java from "./icons/Java.astro"
import Excel from "./icons/Excel.astro"
import PowerBI from "./icons/PowerBI.astro"
import Firebase from "./icons/Firebase.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#084353] text-white",
    icon: MySQL,
  },
  POSTGRE: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: PostgreSQL,
  },
  POWERBI: {
    name: "Power BI",
    class: "bg-[#9C7F34] text-white",
    icon: PowerBI,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },  
  JAVA: {
    name: "JAVA",
    class: "bg-[#663D00] text-white",
    icon: Java,
  },
  EXCEL: {
    name: "Excel",
    class: "bg-[#0D321E] text-white",
    icon: Excel,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#9C4323] text-white",
    icon: Firebase,
  },
}
const PROJECTS = [
  {
    title: "Análisis tasa de abandono de clientes",
    description:
      "Datos proporcionados por Datacamp. Se evalúa la tasa de abandonos de los clientes de una empresa. Se analiza la razón de abandono, ubicación geográfica del cliente, edad, género y planes que contrató ",
    image: "/projects/BI_CHURN.webp",
    dataset: "https://drive.google.com/drive/folders/1WuzyeDklXYDkunIapGo3EViuUaDGla3n?usp=sharing",
    link: "https://app.powerbi.com/view?r=eyJrIjoiNWMxYmZkZjctMTdmZi00NmViLWFjZTEtNmU4NjI4Zjc1NDExIiwidCI6ImUxOGVhZDk1LWZkY2ItNDE2MC05ZjY0LTg5ZDNhNWYxNWEyNCJ9",
    tags: [TAGS.POWERBI, TAGS.POSTGRE, TAGS.EXCEL],
  },
{
    title: "Análisis de satisfacción de empleados en la empresa Atlas Labs",
    description:
      "Datos proporcionados por Datacamp. En este informe se puede ver un análisis hecho a los empleados de la empresa. En dicho informe se puede evaluar aspectos como la proporción entre salarios con edades y étnias, sentimiento por el trabajo y la empresa y el desgaste de los empleados.",
    image: "/projects/BI_RRHH.webp",
    dataset: "https://drive.google.com/drive/folders/1lOqMWMxMCr7iXypOELSjb1P1oYtfv6X4?usp=sharing",
    link: "https://app.powerbi.com/view?r=eyJrIjoiNzQ2YmI3OTAtNDE4NS00ZDUxLTg1MzUtNGViNWI2Yjk0MTMxIiwidCI6ImUxOGVhZDk1LWZkY2ItNDE2MC05ZjY0LTg5ZDNhNWYxNWEyNCJ9",
    tags: [TAGS.POWERBI, TAGS.POSTGRE, TAGS.EXCEL],
  },
  {
    title: "Perspectivas del mercado laboral de la ciencia de datos",
    description:
      "Datos proporcionados por Datacamp. Este análisis busca determinar la demanda de la ciencia de datos dentro del mercado laboral, así como las habilidades que la mayoría de las personas tienen al entrar a un campo como este. Se puede ver la experiencia y el puesto en el que se puede entrar o lo que se necesita para poder entrar, así como su sueldo y crecimiento dentro del mercado laboral.",
      image: "/projects/BI_JOBS.webp",
      dataset: "https://drive.google.com/drive/folders/1WoxQWfkLPk9wymdTMXjMUtxDLsTy3UXq?usp=sharing",
      link: "https://app.powerbi.com/view?r=eyJrIjoiNGVkYmEwMWEtY2M0Mi00YWI1LWIxZmEtYzAxMjJmZmFmN2Q1IiwidCI6ImUxOGVhZDk1LWZkY2ItNDE2MC05ZjY0LTg5ZDNhNWYxNWEyNCJ9",
    tags: [TAGS.POWERBI, TAGS.MYSQL, TAGS.EXCEL],
  },
  {
    title: "Análisis de polaridad de comentarios de un restaurant",
    description:
      "Se hizo un análisis mediante un modelo de inteligencia artificial previamente entrenado de los comentarios dejados en un restaurant. Este modelo está entrenado para entender comentarios en inglés por lo que se tuvieron que traducir para poder obtener una polaridad correcta.",
    github: "https://github.com/MiguelVieirar16/Analisis_emociones",
    link: "https://app.powerbi.com/view?r=eyJrIjoiNDM3MmM4ZmMtYWVkMC00NGQxLWEwYTktMDU1ZmJlYjgzNzM1IiwidCI6ImUxOGVhZDk1LWZkY2ItNDE2MC05ZjY0LTg5ZDNhNWYxNWEyNCJ9",
    dataset: "https://drive.google.com/drive/folders/1cj_oyLfZnQv-GnI33V02d8jYf5MDf_Gd?usp=sharing",
    image: "/projects/BI_EMOCIONES.webp",
    tags: [TAGS.POWERBI, TAGS.PYTHON],
  },
{
    title: "Ondas en moducilación AM",
    description:
      "Desarrollé una aplicación de escritorio en Python con interfaz gráfica que permite realizar modulación AM de manera fácil y rápida. La app cuenta con una interfaz gráfica intuitiva donde se puede seleccionar el tipo de onda portadora, su frecuencia y amplitud. Además, tiene 4 botones que permiten mostrar el mensaje, graficar la onda portadora, graficar la modulación resultante y comparar las diferentes ondas con el mensaje y la modulación.",
    image: "/projects/generador.webp",
    github: "https://github.com/MiguelVieirar16/modulacionam",
    tags: [TAGS.PYTHON],
  },
{
    title: "Medición Nutricional Antropométrica",
    description:
      "Esta aplicación permite medir parámetros antropométricos en niños, adolescentes y adultos. La app incluye funciones para registrar usuarios, buscar y modificar datos, y programar citas médicas. Además, calcula el índice de masa corporal (IMC) a partir de los datos ingresados, así como otros parámetros que influyen en la medición antropométrica como lo es la circunferencia del brazo y semanas de gestación en caso de un embarazo. La aplicación se conecta a una base de datos NoSQL en Google Firebase.",
    image: "/projects/androidapp.webp",
    github: "https://github.com/MiguelVieirar16/MedicionAntropometricaapp.git",
    tags: [TAGS.JAVA, TAGS.FIREBASE],
  },

]
---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, dataset}) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview

            </LinkButton>
          )}
          {dataset && (
            <LinkButton href={dataset}>
              <Dataset class="size-4" />
              Dataset

            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



